name: Check the getting-started.sh script

on:
  pull_request:
    paths:
      - ".github/workflows/check-getting-started.yml"
      - "scripts/getting-started.sh"
    types: [opened, synchronize, reopened, ready_for_review]
  schedule:
    - cron: "0 5 * * *"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  isdraft:
    uses: ./.github/workflows/reusable-isdraft.yml

  check-getting-started:
    needs: isdraft
    strategy:
      fail-fast: true
      matrix:
        include:
          - name: ubuntu
            container: ubuntu
            template: minimal
            shell: bash
          - name: debian
            container: debian
            template: parachain
            shell: sh
          - name: arch
            container: archlinux
            template: solochain
            shell: sh
          - name: fedora
            container: fedora
            template: parachain
            shell: sh
          - name: opensuse
            container: opensuse/tumbleweed
            template: solochain
            shell: sh
    runs-on: parity-large
    container: ${{ matrix.container }}:latest
    steps:
      - name: Install ubuntu/debian prerequisites
        run: apt update && apt install -y expect sudo git
        if: contains(matrix.name, 'ubuntu') || contains(matrix.name, 'debian')
      - name: Install arch prerequisites
        run: pacman -Syu --needed --noconfirm expect sudo git
        if: contains(matrix.name, 'arch')
      - name: Install fedora prerequisites
        run: dnf --assumeyes install expect sudo git
        if: contains(matrix.name, 'fedora')
      - name: Install opensuse prerequisites
        run: zypper install --no-confirm expect sudo git
        if: contains(matrix.name, 'opensuse')

      - name: Checkout
        uses: actions/checkout@v5

      - name: Set additional expect flags if necessary
        run: |
          [ "${{ runner.debug }}" = "1" ] && EXPECT_FLAGS="-d" || EXPECT_FLAGS=""
          echo "EXPECT_FLAGS=${EXPECT_FLAGS}" >> $GITHUB_ENV

      - name: Check the first run of the script
        run: |
          expect $EXPECT_FLAGS -c '
          set timeout 240
          spawn ${{ matrix.shell }} scripts/getting-started.sh
          expect_after {
            timeout { puts stderr "Timed out on an expect"; exit 1 }
            eof { puts stderr "EOF received on an expect"; exit 1 }
          }
          expect -nocase "Detected ${{ matrix.name }}"
          expect "Rust is not installed. Install it?" {
            send "y\r"
            expect "Proceed with standard installation (default - just press enter)" {
              send "\r"
              expect "Rust is installed now"
            }
          }
          expect "Setup the Rust environment" { send "y\r" }
          expect "start with one of the templates" { send "y\r" }
          expect -re "(.)\\) ${{ matrix.template }} template" { send "$expect_out(1,string)\r" }
          expect "compile the node?" { send "n\r" }
          expect eof
          '
        timeout-minutes: 15

      - name: Check the second run of the script
        run: |
          expect $EXPECT_FLAGS -c '
          set timeout 120
          spawn ${{ matrix.shell }} scripts/getting-started.sh
          expect_after {
            timeout { puts stderr "Timed out on an expect"; exit 1 }
            eof { puts stderr "EOF received on an expect"; exit 1 }
          }
          expect "Rust already installed" {}
          expect "Setup the Rust environment" { send "n\r" }
          expect "start with one of the templates" { send "y\r" }
          expect -re "(.)\\) ${{ matrix.template }} template" { send "$expect_out(1,string)\r"; expect "directory already exists" {} }
          expect "compile the node?" { send "n\r" }
          expect eof
          '
        timeout-minutes: 15

      - name: Compile the node outside of the script
        run: |
          . "$HOME/.cargo/env"
          cd ${{ matrix.template }}-template
          cargo build --release
        timeout-minutes: 120

      - name: Check that the binary is executable
        run: |
          . "$HOME/.cargo/env"
          cd ${{ matrix.template }}-template
          cargo run --release -- --help
        timeout-minutes: 5
